@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Roboto";
  background: #0f2027 !important;
  background-repeat: no-repeat;
}

.navbar__wrapper {
  background: #102934;
}

.navbar__wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.navbar__wrapper-flex-item {
  margin-right: 20px;
}

.navbar__wrapper-flex-item a {
  color: #ffffff;
  text-decoration: none;
}

.card.custom--bg {
  background-color: #414345;
  color: #ffffff;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.case.confirmed {
  color: #ffe21f;
}

.case.recovered {
  color: #2ecc40;
}

.case.deaths {
  color: #ff695e;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
}

.modal-content.custom--bg {
  background-color: #0f2027;
}

.card-country {
  font-size: 32px;
  text-align: center;
}

.form-label {
  color: #ffffff;
}

.form-check-label {
  color: #ffffff;
}

.form-control {
  width: 500px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #102934;
  color: white;
  text-align: center;
}

.footer__content {
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .navbar__wrapper-flex {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0px 20px;
  }

  .navbar__wrapper-flex-item {
    margin-bottom: 20px;
  }

  .form-control {
    width: 300px;
  }
}
